
<div class="small-slider">
    <div class="me-1">
        <button mat-button routerLink="/"><i class="material-icons me-2 icon-color">dashboard</i> Dashboard</button>
    </div>
    <div>
        <button mat-button routerLink="/products"><i class="material-icons me-2 icon-color">store</i>Products</button>
    </div>
    <div>
        <button mat-button routerLink="/stocks"><i class="material-icons me-2 icon-color">stacked_bar_chart</i>Stocks</button>
    </div>
    <div>
        <button mat-button routerLink="/"><i class="material-icons me-2 icon-color">add_shopping_cart</i>Sale Products</button>
    </div>
</div>
