<!-- Header -->
<app-header></app-header>


<div class="container-fluid">

  <div class="row main-container">

    <!-- Sidebar Part -->
    <div class="col-xxl-2 d-xxl-block col-xl-2 d-xl-block col-lg-2 d-lg-block col-md-2 d-md-block  d-sm-2 d-sm-block d-none sidebar">
      
      <app-sidebar></app-sidebar>
     
    </div>

    <div class="d-xxl-none d-xl-none d-lg-none d-md-none  d-sm-none d-12 d-block">
      <app-smallsidebar></app-smallsidebar>
    </div>

    <!-- Content Part -->
    <div class="col-xxl-10 d-xxl-block col-xl-10 d-xl-block col-lg-10 d-lg-block col-md-10 d-md-block col-sm-10 d-sm-block col-12 d-block d-flex justify-content-center align-items-center">
      Stocks
    </div>

  </div>

 </div>