<mat-list class="sidebar-outer-list " >
    <mat-list-item class="sidebar-inner-list" ><button mat-button routerLink="/"><i class="material-icons me-2 icon-color">dashboard</i> Dashboard</button></mat-list-item>
    <mat-list-item class="sidebar-inner-list" ><button mat-button routerLink="/products"><i class="material-icons me-2 icon-color">store</i>Products</button></mat-list-item>
    <mat-list-item class="sidebar-inner-list"><button mat-button routerLink="/stocks"><i class="material-icons me-2 icon-color">stacked_bar_chart</i>Stocks</button></mat-list-item>
    <mat-list-item class="sidebar-inner-list"><button mat-button ><i class="material-icons me-2 icon-color">add_shopping_cart</i>Sale Products</button></mat-list-item>
</mat-list>